@import 'shared-settings.scss';

@import './swal.scss';

#app {
  // we have to make room for the window arrow
  height: calc(100% - 10px);
  background-color: #22272d;
}

.window-arrow-wrapper {
  display: flex;
  justify-content: center;

  .window-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--header-color);
  }
}

.pulls-app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    flex-grow: 0;
    flex-shrink: 0;

    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-bottom: 1rem;
      padding-top: 0.3rem;
      font-size: 0.75rem;
    }
  }
}

.filter-prs-input-anchor {
  position: relative;
  margin-bottom: 1.5rem;

  .filter-prs-input-wrapper {
    position: absolute;
    display: flex;

    top: -1rem;
    left: 0.7rem;
    right: 0.7rem;

    .filter-prs-input {
      border-radius: 1rem;
      width: 100%;
      border: solid 1px #444c56;
      outline: none;
      padding: 0.4rem 1rem;

      color: #c2c3c3;
      background-color: #22272d;
    }

    .fa-search {
      position: absolute;
      right: 0.7rem;
      top: 0.4rem;
      color: #c2c3c3;
    }
  }
}

@mixin draggableItem {
  position: relative;

  &:not(:first-child) {
    border-top: solid 1px #373e47;
  }

  &.drag-middle {
    background-color: lightgrey;
  }

  &.drag-above:before,
  &.drag-below:after {
    content: '';
    height: 10px;
    width: calc(100% - 6px);
    border: 3px solid lightgrey;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  &.drag-above:before {
    border-bottom: 0;
  }
  &.drag-below:after {
    border-top: 0;
    bottom: 0px;
    top: auto;
  }
}

.pr-list {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444c56;
    border-radius: 20px;
    scrollbar-width: thin;
  }

  .pr-list-item {
    padding: 0.7rem 1rem;
    font-size: 0.75rem;
    display: flex;
    cursor: pointer;

    font-size: 15px;
    font-weight: 600;

    // lazy matthew selecting things lazily. Just selecting the icons
    svg,
    i {
      padding-top: 5px;
    }

    .pr-list-item__text {
      width: 100%;
      padding-left: 0.4rem;
      line-height: 1.6;
      color: #adbac7;

      .pr-list-item__repo-name {
        color: #768390;
        padding-right: 7px;
      }
    }

    &.hovered {
      opacity: 0.5;
    }

    &.selected,
    &:hover {
      background-color: #2d333b;
    }

    @include draggableItem;
  }

  .pr-list-item-group {
    @include draggableItem;

    .pr-list-item-group__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;

      &.selected,
      &:hover {
        background-color: #2d333b;
      }

      & > div > i {
        margin-right: 0.4rem;
        width: 16px;
      }

      color: #768390;
      padding: 0.7rem 1rem;
      font-weight: 600;
      line-height: 1.6;

      &:hover .pr-list-item__button-group svg,
      .pr-list-item__button-group svg.is-open {
        visibility: visible;
      }

      .pr-list-item__button-group {
        display: flex;
        align-items: center;

        svg {
          visibility: hidden;
        }

        & > i:not(:last-child) {
          margin-right: 0.7rem;
        }

        .fa-pen,
        .fa-trash {
          @include clickable;
        }
      }
    }

    .pr-list-item-group__body {
      border-top: solid 1px #373e47;
      padding-left: 2rem;
    }
  }
}

.pr-status-indicator {
  &.success,
  &.SUCCESS {
    color: #2cbe4e;
  }
  &.pending,
  &.PENDING {
    color: #dbab09;
  }
  &.failure,
  &.FAILURE {
    color: #cb2431;
  }
  &.no-status-found {
    color: lightgrey;
  }
}

.status-item {
  padding: 0.2rem 0;
  font-size: 0.75rem;
  margin-left: 1rem;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons-wrapper {
      font-size: 1.6rem;
    }

    .repo-name {
      font-style: italic;
      margin-right: 0.5rem;
    }
  }

  .list-item {
    margin: 0.4rem 0;
  }

  .delete-pr {
    @include clickable;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: #cb2431;
  }
}

.group-prs-icon {
  @include clickable();

  padding-right: 0.5rem;
}
